.bg-main {
  height: 100vh;
  background-color: #1F5BE3;
  position: relative;
  padding: 14.3rem 0 0 7rem;
  color: #FFFFFF;

  h1 {
    text-align: left;
    font: normal normal bold 4.4rem/5.4rem $font-family;
    white-space: nowrap;
    letter-spacing: 0px;
  }

  &__logo {
    position: absolute;
    top: 4.1rem;
    left: 7rem;
    width: 14.7rem;
    height: 4rem;
  }

  &__helper {
    position: absolute;
    top: 30rem;
    left: 7rem;
    width: 36.2rem;
    height: 36.1rem;
  }
}

.userDetails {
  position: relative;
  padding: 18rem 0 0 ;
  text-align: left;
  width: 42rem;
  margin: auto;

  li {
    display: block;
    width: 100%;
    margin-bottom: 4.2rem;

    &:last-of-type {
      position: absolute;
      bottom: -16rem;
      width: 42rem;

      p{
        text-align: center;
      }
    }
    p {
      text-align: center;
      font: normal normal normal 1.6rem/2rem $font-family;
      letter-spacing: 0px;
      color: $primary-dark;

      a {
        text-align: center;
        text-decoration: underline;
        font: normal normal 500 1.6rem/2rem $font-family;
        letter-spacing: 0px;
        color: $primary-dark;
        text-underline-offset: 2px;
      }
    }
  }

  &__heading {
    h2 {
      font: normal normal bold 3.4rem/4.1rem $font-family;
      color: $primary-dark;
      margin-bottom: 0.8rem;
    }

    span {
      font: normal normal 500 15px/19px $font-family;
      opacity: 0.6;
    }
  }

  &__form {
    margin-top: 4rem;

    label,
    input {
      display: block;
      width: 100%;
      font: normal normal 600 1.3rem/1.6rem $font-family;
      letter-spacing: 0px;
      color: $primary-dark;
      margin-bottom: 0.5rem;
    }

    input {
      padding: 10px 10px;
      border-radius: 12px;
      background-color: #F1F3F4;
      border: 1px solid transparent;
      outline-color: $primary-dark;
      outline-width: 1px;
      outline-offset: -5px;
    }

    button {
      width: 100%;
      text-align: center;
    }


  }
}
