<section>
  <div class="col-md-5 PLR-0 position-fixed height-100">
    <div class="bg-main">
      <mat-icon svgIcon="logo" class="bg-main__logo"></mat-icon>
      <!-- <img class="bg-main__logo" src="../../../../assets/images/Logo.png" alt="Smart-X logo"> -->
      <h1>Where greatness </h1>
      <h1>happens.</h1>
      <mat-icon svgIcon="bg-helper" class="bg-main__helper"></mat-icon>
      <!-- <img class="bg-main__helper" src="../../../../assets/images/bg-helper.png" alt="background image"> -->
    </div>
  </div>

  <div class="col-md-7 PLR-0 float-right">
    <div class="userDetails">
      <ul class="userDetails__register">
        <li class="userDetails__register-heading">
          <h2>Let's get started</h2>
          <span>Start your journey with us.</span>
        </li>

        <li class="userDetails__register-form">
          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <label for="legalName">Legal Name
                <mat-icon svgIcon="information" matTooltip="Please enter taxID, EORI or leiCode" matTooltipClass="tooltip"></mat-icon>
              </label>
              <input matInput id="legalName" placeholder="Please enter taxID, EORI or leiCode" required>
              <!-- @To do -->
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <Label for="Short Name">Short Name
                <mat-icon svgIcon="information" matTooltip="Upto 6 characters to create the domain name" matTooltipClass="custom-tooltip"></mat-icon>
              </Label>
              <input matInput id="Short Name" type="password" placeholder="Upto 6 characters to create the domain name">
              <!-- @To do -->
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <Label for="legalRegistrationType">Legal Registration Type</Label>
              <mat-select [(ngModel)]="selectedValue" name="food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
              <!-- @To do -->
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </div>
          <button mat-raised-button>
            Login
            <mat-icon svgIcon="arrow-right"></mat-icon>
          </button>
        </li>

        <li>
          <p>Forgot your Short Name? <a>Reset Here</a></p>
        </li>

        <li class="bottom-text">
          <p>Don't have an account? <a>Sign Up</a></p>
        </li>
      </ul>
    </div>
  </div>
</section>
