<section class="row PLR-0">
  <div class="col-md-5 PLR-0">
    <div class="bg-main">
      <img class="bg-main__logo" src="../../../../assets/images/Logo.png" alt="">
      <h1>Where greatness </h1>
      <h1>happens.</h1>
      <img class="bg-main__helper" src="../../../../assets/images/bg-helper.png" alt="">
    </div>
  </div>

  <div class="col-md-7 PLR-0">
    <ul class="userDetails">
      <li class="userDetails__heading">
        <h2>Welcome</h2>
        <span>Enter your credential to access your account</span>
      </li>

      <li class="userDetails__form">
        <div>
          <mat-form-field appearance="outline">
            <!-- @To do -->
            <label for="username">Username</label>
            <input id="username"  placeholder="Enter Username" required>
            <!-- @To do -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <Label for="password">Password</Label>
            <input id="password" type="password"  placeholder="Enter Password">
            <!-- @To do -->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>

        </div>
        <button mat-raised-button>Login
          <!-- @To do -->
          <!-- <mat-icon svgIcon="cancel"></mat-icon> -->
        </button>
      </li>

      <li>
        <p>Forgot your password? <a>Reset Here</a></p>
      </li>

      <li>
        <p>Don't have an account? <a>Sign Up</a></p>
      </li>
    </ul>
  </div>

</section>
