<section class="searchPanel">
  <div class="searchPanel__header">
    <h3>Search</h3>
    <form class="searchBar">
      <input type="text" placeholder="Search for a street" [formControl]="product" [matAutocomplete]="auto"
        class="example-input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
          {{product}}
        </mat-option>
      </mat-autocomplete>
      <button mat-icon-button>
        <mat-icon svgIcon="search-grey"></mat-icon>
      </button>
    </form>

  </div>
  <app-card-box [showCompany]="true" [serviceList]=serviceList></app-card-box>

</section>