<section class="searchPanel">
  <div class="searchPanel__header">
    <h3>Search</h3>
    <form class="searchBar">
      <input type="text" placeholder="Search" [formControl]="productControl" />
      <button mat-icon-button type="button">
        <mat-icon svgIcon="search-grey"></mat-icon>
      </button>
    </form>
    <a
      matTooltip="Advanced search"
      (mouseover)="onShowFilter()"
      class="filter-icon"
    >
      <mat-icon svgIcon="filter"></mat-icon>
    </a>
  </div>
  <app-card-box
    [showCompany]="true"
    [serviceList]="serviceList"
    (onViewDetailClickEvent)="onViewDetailClick($event)"
  ></app-card-box>
</section>
