<section class="searchPanel">
  <div class="searchPanel__header">
    <h3>Search</h3>
    <div class="searchBar">
      <input type="text" placeholder="Search" [formControl]="productControl" />
      <button
        mat-icon-button
        type="button"
        (click)="productControl.value?.length && productControl.setValue('')"
      >
        <mat-icon
          [svgIcon]="!productControl.value?.length ? 'search-grey' : 'close'"
          [ngClass]="{ 'close-icon': productControl.value?.length }"
        ></mat-icon>
      </button>
    </div>
    <a
      matTooltip="Advanced search"
      (mouseover)="onShowFilter()"
      class="filter-icon"
    >
      <mat-icon svgIcon="filter"></mat-icon>
    </a>
  </div>
  <app-card-box
    *ngIf="serviceList && serviceList.length > 0"
    [showCompany]="true"
    [serviceList]="serviceList"
    (onViewDetailClickEvent)="onViewDetailClick($event)"
  ></app-card-box>

  <div
    class="catalogue-not-found"
    *ngIf="!isLoading && serviceList && serviceList.length === 0"
  >
    <mat-icon svgIcon="catalogue-not-found"> </mat-icon>
    <h1>No Catalogues Found!</h1>
  </div>
</section>
