$font-family: "Inter";

$primary-color: #1f5be3;
$primary-dark: #121e2a;

$white-color: #ffffff;
$black-color: #000;
$black-color-2: #030303;
$green-color-2: #30c274;
$red-color-2: #f44336;
$black-color-4: #e5e5e5;
