@import "../../../../assets/scss/abstracts/abstracts.scss";

.serviceCatalog {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.mat-button {
  display: inline-block;
}
