// --------------------------------------------------------------------------------------
// =============================== Base scss file for project ===========================
// --------------------------------------------------------------------------------------

/** 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
**/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 10px;
}

*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,li{
list-style: none;
}

.float-right{
  float: right ;
}

.position-fixed{
  position: fixed !important;
}

.height-100{
  height: 100vh;
}


