.bg-main {
  height: 100vh;
  background-color: #1F5BE3;
  position: relative;
  padding: 14.3rem 0 0 7rem;
  color: #FFFFFF;

  h1 {
    @include font(4.4rem, 5.4rem, bold);
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0px;
  }

  &__logo {
    position: absolute;
    top: 4.1rem;
    left: 7rem;
    width: 14.7rem !important;
    height: 4rem !important;
  }

  &__helper {
    position: absolute;
    top: 30rem;
    left: 7rem;
    height: auto !important;
    width: 60% !important;
    min-height: 26.1rem !important;
  }
}
