@import "../abstracts/abstracts.scss";

.card {
  @include border-radius(1.2rem);
  height: 47.6rem !important;
  margin-bottom: 3rem;

  .mat-button {
    display: inline-block;
  }

  &__image {
    @include border-radius(1.2rem 1.2rem 0 0);
    background-color: $placeholder-bg;
    text-align: center;
    height: 22rem;

    img {
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }

  &__data {
    @include border-radius(0 0 1.2rem 1.2rem);
    background: #f7f7f7;
    height: 25.4rem;
    padding: 2rem;
    text-align: left;
    position: relative;

    &--title {
      @include font(1.8rem, 2.1rem, bold);
      @include text-overflow(100%, 2);
      min-height: 4.2rem;
      max-height: 4.2rem;
      color: $primary-color;
      margin-bottom: 2rem;
    }

    &--disc {
      @include font(1.6rem, 2rem);
      @include text-overflow(100%, 3);

      color: rgba($primary-dark, 0.8);
      margin-bottom: 1.5rem;
      min-height: 5.7rem;
      max-height: 5.7rem;
    }

    &--company {
      @include font(1.6rem, 2rem);
      min-height: 2rem;
      margin-bottom: 2rem;

      span {
        color: rgba($primary-dark, 0.8);
        @include text-overflow(100%, 1);
      }

      b {
        margin-left: 0.7rem;
        font-weight: 600;
        color: $primary-dark;
      }
    }

    &--btn {
      display: flex;
      justify-content: flex-start;
      gap: 1.2rem;
      align-items: center;

      button {
        height: 4rem !important;

        &.mdc-button {
          &--raised {
            background: $primary-dark !important;
            border-radius: 2.5rem;
            color: $white-color;
            padding: 1.1rem 2.4rem;
          }
        }

        .mdc-button {
          &__label {
            @include font(1.4rem, 1.7rem, 500);
            text-align: left;

            color: $white-color;
          }
        }

        &.mdc-fab {
          &--mini {
            box-shadow: none;
            background-color: rgba(#121e2a, 0.1);
            color: black;
          }
        }
      }
    }
  }
}
