@import "../abstracts/abstracts.scss";

.mat-mdc-checkbox {
  .mdc-form-field {
    label {
      @include font(1.3rem, 1);
      font-family: $font-family !important;
      color: $primary-dark;
    }

    .mdc-checkbox {
      &__background {
        @include border-radius(0.6rem);
      }

      &__native-control {
        &:enabled {
          &:checked {
            & ~ .mdc-checkbox {
              &__background {
                background-color: $primary-color !important;
                border-color: transparent !important;
              }
            }
          }
        }
      }
    }
  }
}
