@import "../abstracts/abstracts.scss";

.customSelect {
  background: $white-color;
  box-shadow: 0rem 0.1rem 0.6rem #00000029;
  border-radius: 1.2rem;

  .mat-mdc-option {
    @include font(1.5rem, 2.4rem, 500);

    color: $primary-dark;
  }
}

mat-select {
  .mat-mdc-select-value,
  .mat-option {
    text-align: left;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
  }

  .mat-mdc-select-value {
    .mat-mdc-select-placeholder {
      color: rgba($primary-dark, 0.4);
    }
  }

  .mat-mdc-select-arrow-wrapper {
    .mat-mdc-select-arrow {
      // border-left: 1.5rem solid transparent !important;
      // border-right: none !important;
      // border-top: 1.5rem solid transparent !important;
      // border-image-source: url('../') !important;
      // border-image-repeat: stretch !important;
      @include square(2.4rem);

      svg {
        transform: scale(0);
      }

      &::after {
        line-height: 2.4rem;
        content: "";
        display: inline-block;
        box-sizing: border-box;
        width: 1rem;
        height: 1rem;
        border-bottom: 0.2rem solid;
        border-right: 0.2rem solid;
        color: black;
        transform: rotate(45deg);
      }
    }
  }
}
