@import "../abstracts/abstracts.scss";

.card {
  background: #F7F7F7;
  border-radius: 12px;

  &__image {
    img {
      width: 100%;
    }
  }

  &__data {
    padding: 2rem;
    text-align: left;

    h4 {
      font: normal normal bold 1.8rem/2.1rem $font-family;
      letter-spacing: 0px;
      color: $primary-blue;
      margin-bottom: 2rem;
    }

    p {
      font: normal normal 600 1.6rem/2rem $font-family;
      letter-spacing: 0px;
      color: $primary-dark;
      margin-bottom: 1.5rem;

      span {
        font: normal normal normal 1.6rem/2rem $font-family;
        letter-spacing: 0px;
        color: rgba($primary-dark, 0.8);
      }
    }


  }

  &__btn {
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
    align-items: center;

    button {
      &.mdc-button {
        &--raised {
          background: $primary-dark !important;
          border-radius: 25px;
          color: $white-color;
        }
      }

      .mdc-button{
        &__label {
          text-align: left;
          font: normal normal 500 1.4rem/1.7rem $font-family;
          letter-spacing: 0px;
          color: $white-color;
        }
      }

      &.mdc-fab {
        &--mini {
          box-shadow: none;
          background-color: rgba(#121E2A, 0.1);
          color: black;
        }
      }

    }
  }
}
