@import "../../scss/abstracts/abstracts.scss";

.mat-mdc-form-field {
  width: 100%;
  margin-bottom: 4.2rem;


  .mat-mdc-text-field-wrapper {
    padding: 0;
    background: #F1F3F4;
    overflow: visible !important;
    border-radius: 12px;

    .mat-mdc-form-field-focus-overlay {
      background: transparent;
    }

    &.mdc-text-field {
      outline: 4px solid transparent;
      border: 2px solid transparent;

      &--focused {
        outline: 4px solid #F1F3F4;
        border: 2px solid black;
        border-radius: 15px;
        background-color: $white-color;
      }
    }

    .mat-mdc-form-field-flex {
      width: 100%;
      overflow: visible;
      border: 0px solid transparent;
      border-radius: 12px;
      justify-content: center;
      align-items: center;
      padding: 0 1.4rem;

      .mat-mdc-form-field-infix {
        padding: 1.2rem 0 1.3rem !important;
        min-height: auto !important;

        label {
          position: absolute !important;
          left: -1.4rem !important;
          text-transform: capitalize;
          display: block;
          width: 100%;
          font: normal normal 600 1.3rem/1.6rem $font-family;
          letter-spacing: 0px;
          color: $primary-dark;
          margin-bottom: 0.5rem;
          top: -2.5rem !important;
          transform: unset !important;

          .mat-icon {
            // vertical-align: middle;
          }
        }

        .mdc-text-field__input {
          height: 1.9rem;
          text-align: left;
          font: normal normal 500 1.5rem/2.4rem $font-family !important;
          letter-spacing: 0px;
          color: rgba($primary-dark , 1);

          &::placeholder {
            text-align: left !important;
            font: normal normal 500 1.5rem/2.4rem $font-family !important;
            letter-spacing: 0px !important;
            color: rgba($primary-dark , 0.4) !important;
          }

        }
      }

      .mat-icon {
        fill: $white-color;
      }
    }

    .mdc-line-ripple {
      display: none;
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    .mat-mdc-form-field-hint-wrapper {
      padding: 0 !important;
      position: static;
      // margin-bottom: 1rem;

      font: normal normal 500 13px/16px $font-family;
      letter-spacing: 0px;
      color: $primary-dark;

      .mat-mdc-form-field-hint {
        li {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: flex-start;
          gap: 15px;
        }

      }
    }
  }
}

.mat-icon[svgIcon="information"] {
  height: 14px !important;
  width: 14px !important;
}
