@import "../abstracts/abstracts.scss";

.mat-mdc-progress-bar {
  position: absolute !important;
  top:0 !important;
  left: 0 !important;
  z-index: 1000;

  .mdc-linear-progress {
    &__buffer {
      &-bar {
        background-color: black !important;
      }
    }

    &__bar {
      &-inner {
        border-color: red !important;
      }
    }
  }
}
