<section>
  <div class="col-md-5 col-sm-5 PLR-0 position-fixed height-100">
    <div class="bg-main">
      <mat-icon svgIcon="logo" class="bg-main__logo"></mat-icon>
      <!-- <img class="bg-main__logo" src="../../../../assets/images/Logo.png" alt="Smart-X logo"> -->
      <h1>POC for Gaia-X</h1>
      <h1>compliant services</h1>
      <mat-icon svgIcon="bg-helper" class="bg-main__helper"></mat-icon>
      <!-- <img class="bg-main__helper" src="../../../../assets/images/bg-helper.png" alt="background image"> -->
    </div>
  </div>
  <div class="col-md-7 col-sm-7 PLR-0 float-right">
    <div class="userDetails">
      <ul class="userDetails__signup">
        <li>
          <button class="back-btn underline" type="button">
            <a (click)="doLogout()">Logout</a>
          </button>
        </li>
        <li class="userDetails__signup-heading">
          <h2>Let's get started</h2>
          <span>start your journey with us.</span>
          <span>Register with PCM Application</span>
        </li>

        <li class="userDetails__signup-form">
          <div class="text-center">
            <img *ngIf="apiStatus !== APIStatus.Success" class="animated fast"
              src="../../../../assets/images/loading.gif" width="60" alt="" />

            <a *ngIf="apiStatus === APIStatus.Success">
              <qrcode [qrdata]="signupQRResponse.data.invitationUrl" [width]="256" [errorCorrectionLevel]="'M'">
              </qrcode>
            </a>
          </div>
        </li>

        <li *ngIf="apiStatus === APIStatus.Success" class="MB-20">
          <button class="large-btn primary-btn" mat-raised-button type="submit" (click)="onProceedClick()">
            Connect
          </button>
        </li>

        <li class="userDetails__appstore">
          <a href="https://apps.apple.com/in/app/gxfs-pcm/id1662845551" target="_blank"><mat-icon
              svgIcon="apple-app-store"></mat-icon></a>
          <a href="https://play.google.com/store/apps/details?id=eu.gaiax.difs.pcm" target="_blank"><mat-icon
              svgIcon="google-play-icon"></mat-icon></a>
        </li>

        <li>
          <p>By creating an account, you agree to our</p>
          <p><a> Terms of Service </a> and <a> Privacy Policy</a>.</p>
        </li>

        <!-- <li class="bottom-text">
          <p>
            Already have an account?
            <a (click)="onSignInClick()"> Sign In</a>
          </p>
        </li> -->
      </ul>
    </div>
  </div>
</section>