@import "../../../../../assets/scss/abstracts/_abstracts";

.addServiceData {
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--content {
      display: flex;
      gap: 1.5rem;
    }

    &--buttons {
      button {
        @include border-radius(2.5rem);
        width: 20.7rem;
      }
    }
  }

  &__body {
    padding: 6rem 12.9rem 0 4.9rem;

    .addMore {
      @include font(1.5rem, 1.9rem, 500);
      text-align: center;
      color: $primary-color;
      width: 11rem;

      a {
        .mat-icon {
          height: 1.4rem;
          width: 1.4rem;

        }
      }
    }

    &__dynamicFields {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;

      &--inputs {
        flex-grow: 1;
        max-width: 45%;
      }

      &--buttons {
        padding: 0.96rem 0 1.04rem;

        .mat-mdc-fab {
          @include border-radius(100%);
          background: rgba($primary-dark, 0.2);
          border: 0.1rem solid $primary-dark !important;
          box-shadow: none;
          height: 4.4rem;
          width: 4.4rem;
          align-self: center;
          border: 0 !important;

          .mat-icon {
            fill: $black-color !important;
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }


    }

    &__staticField {
      margin-bottom: 2.5rem;
      width: 45% !important;
    }

    &__accordian {
      margin-bottom: 4.7rem;

      mat-accordion {
        display: block;
        border: 0;
        box-shadow: none;

        mat-expansion-panel {
          @include border-radius(1.2rem);
          background-color: rgba($primary-dark, 0.05);
          border: 0;
          box-shadow: none;
          margin-bottom: 1.5rem;

          &-header {
            border-radius: 0;
            border-bottom: 0.1rem solid rgba($primary-dark, 0.2);
          }

          mat-panel-title {
            color: $primary-dark;
            font-size: 1.6rem;
            font-weight: 600;
          }

          .expansion-body {
            padding: 2rem;

            div.col-md-4 {
              margin-bottom: 3rem;

              &:last-child,
              &:nth-last-child(2),
              &:nth-last-child(3) {
                margin-bottom: unset;
              }

              label {
                color: rgba($primary-dark, 0.8);
                display: block;
                font-size: 1.2rem;
                margin-bottom: 0.04rem;
              }

              span {
                color: $primary-dark;
                display: block;
                font-size: 1.6rem;
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    &__examples {
      &-header {
        @include font(1.8rem, 2.1rem);
        color: #7E8081;
        margin-bottom: 1.3rem;
      }
    }

    &__inputs {
      @include border-radius(0.8rem);
      border: 0.1rem solid $primary-dark;
      padding: 3rem;
      position: relative;

      ul {
        li {
          &:nth-last-of-type(2) {
            .mat-mdc-form-field {
              margin-bottom: 2rem;
            }
          }
        }
      }

      &-button {
        @include border-radius(0.8rem);
        background: $primary-dark;
        padding: 0;
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        width: 2.8rem;
        height: 2.8rem;
        min-width: unset;

        .mat-icon {
          fill: $white-color;
          height: 1.2rem;
          width: 1.2rem;
          margin: auto !important;

        }
      }
    }

    &__buttons {

      margin-top: 4rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      gap: 1.5rem;

      .mdc-button {
        @include border-radius(0.8rem);
        // @include font(1.5rem, 1.9rem, 500);
        font-size: 1.5rem !important;
        line-height: 1.9rem !important;
        font-weight: 500 !important;
        color: $primary-dark;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 1.2rem;

        &[type=submit] {
          width: 13rem;

          .mat-icon {
            margin: 0;
            height: 2rem;
            width: 2rem;

            svg {
              height: 1rem;
              width: 1.5rem;
            }
          }
        }

        &[type=cancel] {
          @include border-radius(1.2rem);
          background: #F1F3F4;
          border: 0.2rem solid #121E2A33;
          outline: 0;
          box-shadow: none;
        }
      }
    }
  }
}
