<div class="dashboard-wallet-container">
  <div class="dashboard-wallet-container__head">
    <h3>Wallet</h3>
  </div>
  <div class="dashboard-wallet-container__body">
    <a class="dashboard-wallet-container__card" target="_blank">
      <div>
        <h2>123</h2>
        <p>DID</p>
      </div>

      <mat-icon>fingerprint</mat-icon>
    </a>
    <a class="dashboard-wallet-container__card">
      <div>
        <h2>153</h2>
        <p>My Service Offerings</p>
      </div>
      <!-- <mat-icon>local_offer</mat-icon> -->

      <mat-icon svgIcon="done"></mat-icon>
    </a>
  </div>
</div>
