<div class="dialog-container">
  <div class="dialog-container__head">
    <h3>Share your information</h3>
    <a (click)="onCloseDialog(false)" matTooltip="close">
      <mat-icon svgIcon="close"></mat-icon>
    </a>
  </div>

  <div class="dialog-container__body">
    <div *ngIf="activeState === DataShareEnum.START" class="confirm-info">
      <img src="./assets/images/shareInfo.png" alt="shareInformation" />
      <p>
        You need to share your credentials in order to access the service
        details.<br />
        If you agree, please confirm & proceed.
      </p>
      <button (click)="generateVP()" class="dark-btn">Yes, I Confirm</button>
    </div>

    <div *ngIf="activeState === DataShareEnum.VP_GENERATE">
      <img src="./assets/images/loading.gif" alt="" />
      <p class="medium-text">Generating your VP</p>
    </div>

    <div *ngIf="activeState === DataShareEnum.VERIFYING">
      <!-- <img src="./assets/images/loading.gif" alt="" /> -->
      <p>Verify your VP</p>
      <ngx-json-viewer [json]="vp" [expanded]="false"></ngx-json-viewer>
      <button class="dark-btn" (click)="verifyVP()">Verify</button>
    </div>

    <div *ngIf="activeState === DataShareEnum.SUCCESS">
      <img src="./assets/images/quality.png" alt="" />
      <p>Your VP is successfully verified.</p>
      <button class="dark-btn" (click)="onCloseDialog(true)">View Detail</button>
    </div>
  </div>
</div>