@import "../../../../assets/scss/abstracts/abstracts.scss";
.dialog-container {
  &__body {
    text-align: center;

    div {
      padding: 5rem 0;
      img {
        @include square(4rem);
      }
      &.confirm-info {
        height: unset;
        padding: 4rem 0 3rem;
        img {
          width: 28.3rem;
          height: 21.7rem;
          margin-bottom: 3.6rem;
        }
        p {
          margin-bottom: 2.5rem;
        }
      }
      img {
        margin-bottom: 3rem;
      }
    }

    p {
      color: $black-color;
      font-size: 1.3rem;
      margin-bottom: 2.5rem;

      &.medium-text {
        font-size: 1.6rem;
        margin-bottom: unset;
      }
    }
  }
}
