<div class="dialog-container">
  <div class="dialog-container__head">
    <div
      class="dialog-container__head--container"
      *ngIf="activeState === DataShareEnum.START"
    >
      <h3>Share your information</h3>
      <a (click)="onCloseDialog(false)" matTooltip="close">
        <mat-icon svgIcon="close"></mat-icon>
      </a>
    </div>

    <div
      class="dialog-container__head--container"
      *ngIf="activeState === DataShareEnum.SUCCESS"
    >
      <h3>Credentials Verified</h3>
      <a (click)="onCloseDialog(false)" matTooltip="close">
        <mat-icon svgIcon="close"></mat-icon>
      </a>
    </div>

    <div
      class="dialog-container__head--container"
      *ngIf="activeState === DataShareEnum.FAILED"
    >
      <h3>Verification Failed</h3>
      <a (click)="onCloseDialog(false)" matTooltip="close">
        <mat-icon svgIcon="close"></mat-icon>
      </a>
    </div>
  </div>

  <div class="dialog-container__body">
    <div *ngIf="activeState === DataShareEnum.START" class="confirm-info">
      <img src="./assets/images/shareInfo.png" alt="shareInformation" />
      <p>
        In order to access the service, you need to share the legal
        participant's credentials issued by Gaia-X. <br />If you agree, please
        confirm & proceed.
      </p>
      <button (click)="generateVP()" class="dark-btn">Yes, I Confirm</button>
    </div>

    <div *ngIf="activeState === DataShareEnum.SUCCESS">
      <!-- <img src="./assets/images/quality.png" alt="" /> -->

      <!-- <qrcode
        [qrdata]="enterpriseQRLoginResponse.data.presentationMessage"
        [width]="40"
        [errorCorrectionLevel]="'M'"
      >
      </qrcode> -->

      <p>Legal participant's credential is verified successfully</p>

      <!-- <button class="dark-btn" (click)="onCloseDialog(true)">
        View Service
      </button> -->
    </div>

    <div *ngIf="activeState === DataShareEnum.FAILED">
      <mat-icon svgIcon="failed"></mat-icon>
      <p>The legal participant's credentials could not be verified</p>
      <button class="dark-btn" (click)="onCloseDialog(false)">Close</button>
    </div>
  </div>
</div>
