@import "../../../../assets/scss/abstracts/abstracts.scss";

.cardBox {
  height: 100%;
  overflow: auto;
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 5rem;
  overflow: auto;
  padding-right: 2rem;
  width: 100%;

  h4 {
    @include text-overflow(31rem);
  }

  p {
    @include text-overflow(31rem);
  }


}




