<section class="row PLR-0">
  <div class="col-md-3 PLR-0">
    <ul class="sidebar">
      <li>
        <div class="sidebar__logo">
          <mat-icon svgIcon="dark-logo"></mat-icon>
        </div>
      </li>
      <li class="sidebar__navigation">
        <button disableRipple="true" mat-button *ngFor="let nav of menu; index as j" [class]="{ active : j === selected}"
          (click)="update(j)">
          <mat-icon svgIcon="{{ nav.iconName }}"></mat-icon>
          {{ nav.label }}
        </button>
      </li>
      <li class="sidebar__userProfile">
        <ul>

        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-9 PB-15">
    <ul class="panel">
      <li>

      </li>
      <li>

      </li>
    </ul>
  </div>
</section>
