<div class="dashboard-wallet-container">
  <div class="dashboard-wallet-container__head">
    <h3>Dashboard</h3>
  </div>
  <div class="dashboard-wallet-container__body">
    <a
      class="dashboard-wallet-container__card"
      [href]="dashboard.enterpriseDetail.didJson"
      target="_blank"
    >
      <div>
        <h2>{{ dashboard.enterpriseDetail.did }}</h2>
        <p>Decentralized Identifier (DID)</p>
      </div>

      <mat-icon>fingerprint</mat-icon>
    </a>
    <a
      [routerLink]="[
        '/' + RouteConstants.SmartX + '/' + RouteConstants.MyServiceOfferings
      ]"
      class="dashboard-wallet-container__card"
    >
      <div>
        <h2>{{ dashboard.serviceOfferCount }}</h2>
        <p>My Service Offerings</p>
      </div>

      <mat-icon svgIcon="dashboardService"></mat-icon>
    </a>
  </div>
</div>
