<section class="verifyCredential">
  <div>
    <ul class="verifyCredential__top">
      <li class="certificate-verify__top--header">
        <h2>Verify your Legal Participant Credential</h2>
      </li>

      <li class="certificate-verify__top--close-icon">
        <a (click)="onCloseDialog()">
          <mat-icon svgIcon="close"></mat-icon>
        </a>
      </li>
    </ul>
  </div>

  <div class="verifyCredential__content">
    <p>Generate VP for my Legal Participant Credential</p>
    <button mat-raised-button>Generate Now</button>
  </div>


</section>
