@import "../abstracts/abstracts.scss";

.searchPanel {
  &__header {
    .mat-mdc-icon-button {
      border-radius: 100%;
      width: 1.6rem !important;
      height: 1.6rem !important;
      line-height: 1.6rem !important;
      padding: 0 !important;

      .mat-icon,
      svg {
        height: 1.6rem !important;
        width: 1.6rem !important;
        vertical-align: middle;
      }
      .mdc-button {
        height: auto !important;

        &__label {
          @include font(1.6rem, 2rem, 500);

          color: $white-color;
        }

        .mat-icon {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }

    &--filter {
      width: 2.2rem !important;
      height: 2rem !important;
      background: none !important;
      .mat-icon {
        width: 2.2rem !important;
        height: 2rem !important;
        margin-right: 0;
      }
    }
  }
}
