.cardBox {
  @import "../abstracts/abstracts.scss";

  .card {
    @include border-radius(1.2rem);
    background: #f7f7f7;

    .mat-button {
      display: inline-block;
    }

    &__image {
      img {
        width: 100%;
      }
    }

    &__data {
      padding: 2rem;
      text-align: left;

      h4 {
        @include font(1.8rem, 2.1rem, bold);

        color: $primary-color;
        margin-bottom: 2rem;
      }

      p {
        @include font(1.6rem, 2rem, 600);

        color: $primary-dark;
        margin-bottom: 1.5rem;

        span {
          @include font(1.6rem, 2rem);

          color: rgba($primary-dark, 0.8);
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: flex-start;
      gap: 1.2rem;
      align-items: center;

      button {
        &.mdc-button {
          &--raised {
            background: $primary-dark !important;
            border-radius: 2.5rem;
            color: $white-color;
          }
        }

        .mdc-button {
          &__label {
            @include font(1.4rem, 1.7rem, 500);
            text-align: left;

            color: $white-color;
          }
        }

        &.mdc-fab {
          &--mini {
            box-shadow: none;
            background-color: rgba(#121e2a, 0.1);
            color: black;
          }
        }
      }
    }
  }
}
