.legalAddressCheckBox {
  &.mat-mdc-checkbox {
    position: relative;
    bottom: 4.2rem;
  }
}

.userDetails__signup-2 {
  button[disabled = true] {
    .mat-icon{
      svg path {
        fill: rgba($primary-dark , 0.4);
      }
    }
  }

  mat-icon[svgicon='arrow-right'] {
    left: 9rem;
  }

  &-form {
    div {
      mat-form-field {
        margin-bottom: 4.2rem !important;
      }
    }
  }
}
