.legalAddressCheckBox {
  &.mat-mdc-checkbox {
    position: relative;
    bottom: 4.2rem;
  }
}

.userDetails__signup-2 {

  .mdc-button {
    flex-direction: row-reverse;
    gap: 1.2rem;

    .mat-icon {
      margin: 0;
    }
  }

  &-form {
    div {
      mat-form-field {
        margin-bottom: 4.2rem !important;
      }

      &:nth-last-of-type(2) {
        mat-form-field {
          margin-bottom: 1rem !important;
        }
      }

      .mat-mdc-checkbox{
        margin-bottom: 1rem;
      }
    }
  }
}
