.mat-mdc-checkbox {
  position: relative;
  bottom: 4.2rem;
}

.userDetails__signup-2 {
  mat-icon[svgicon='arrow-right'] {
    left: 9rem;
  }

  &-form {
    div {
      mat-form-field {
        margin-bottom: 4.2rem !important;
      }
    }
  }
}
