@import "../../../../assets/scss/abstracts/abstracts.scss";

.viewDetails {
  &__header {
  }

  &__content {
    img {
      width: 100%;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: flex-start;
    align-items: center;

    p {
      @include font(1.8rem, 2.6rem, 500);

      color: $primary-dark;
      opacity: 1;
    }
  }

  &__table {
    &--label {
      @include font(1.6rem, 2rem);

      color: rgba($primary-dark, 0.8);

      &::after {
        content: ":";
        @include square(2rem);
      }
    }

    &--value {
      @include font(1.6rem, 2rem, 600);

      color: $primary-dark;
    }
  }
}
