@import "../../../../assets/scss/abstracts/abstracts.scss";

.viewDetails {
  &__header {}

  &__content {
    img {
      width: 100%;

    }

  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: flex-start;
    align-items: center;

    p {
      font: normal normal 500 1.8rem/2.6rem $font-family;
      letter-spacing: 0px;
      color: $primary-dark;
      opacity: 1;
    }
  }

  &__table{
    &--label {
      font: normal normal normal 1.6rem/2rem $font-family;
      letter-spacing: 0px;
      color: rgba($primary-dark , 0.8);

      &::after{
        content: ':';
        height: 20px;
        width: 20px;
      }
    }

    &--value {
      font: normal normal 600 1.6rem/2rem $font-family;
      letter-spacing: 0px;
      color: $primary-dark;
    }
  }
}
