.addService {
  padding: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;

  &__header {
    h3 {
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  &__content {
    overflow-y: auto;
    padding: 2.5rem 23rem 0 5rem;
    height: 100%;

    &--inputs {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      gap: 2rem;

      div {
        flex: 1;

        textarea {
          min-height: 9.4rem;
        }
      }
    }

    &--buttons {
      // width: 34rem;

      li {
        display: inline-block;
        text-align: left;

        button[type="submit"] {
          width: 22rem;
          margin-right: 2rem;
        }

        button[type=cancel]{
          padding: 1.3rem 2.5rem 1.2rem;
        }
      }
    }


  }
}
