<section class="addService">
  <div class="addService__header">
    <button class="backArrow-btn" (click)="onBackClick()">
      <mat-icon svgIcon="arrow-left"></mat-icon>
    </button>
    <h3>Add Service Offering</h3>
  </div>

  <div class="addService__content">
    <form [formGroup]="addServiceForm" (ngSubmit)="onAddServiceFormSubmit(addServiceForm)">
      <ul>
        <li class="addService__content--inputs">
          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <label class="required-label" for="name">Service Name</label>
              <input formControlName="name" matInput id="name" placeholder="Enter service name" required>
              <mat-error *ngIf="isRequiredField(formControls['name'])">
                {{ validationMsg.SERVICE_NAME_IS_REQUIRED }}</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <label class="required-label" for="policy">Add Policy</label>
              <input formControlName="policy" matInput id="policies" placeholder="Enter policy" required>
              <mat-error *ngIf="isRequiredField(formControls['policy'])">
                {{ validationMsg.ADD_POLICY_IS_REQUIRED}}</mat-error>

            </mat-form-field>
          </div>

        </li>
        <li>
          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <label class="required-label" for="description">Description</label>
              <textarea formControlName="description" matInput id="description"
                placeholder="Please Enter service description" required rows="4" cols="50" maxlength="5000">
              </textarea>
              <span class="descriptionLength">{{ formControls['description'].value?.length }} / 5000</span>
              <mat-error *ngIf="isRequiredField(formControls['description'])">
                {{ validationMsg.DESCRIPTION_IS_REQUIRED}}</mat-error>

            </mat-form-field>
          </div>
        </li>
        <li class="addService__content--inputs">
          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <label class="required-label" for="accessType">Access Type</label>
              <mat-select formControlName="accessType" matInput id="accessType" placeholder="Select access type"
                required>
                <mat-option *ngFor="let type of ACCESS_TYPES" [value]="type.value">
                  {{type.label}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isRequiredField(formControls['accessType'])">
                {{ validationMsg.ACCESS_TYPE_REQUIRED}}</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <label class="required-label" for="requestType">Request Type</label>
              <mat-select formControlName="requestType" matInput id="requestType" placeholder="Select request type"
                required>
                <mat-option *ngFor="let type of REQUEST_TYPES" [value]="type.value">
                  {{type.label}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isRequiredField(formControls['requestType'])">
                {{ validationMsg.REQUEST_TYPE_REQUIRED}}</mat-error>
            </mat-form-field>
          </div>
        </li>
        <li class="addService__content--inputs">
          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <label class="required-label" for="formatType">Format Type</label>
              <mat-select formControlName="formatType" matInput id="formatType" placeholder="Select request type"
                required>
                <mat-option *ngFor="let type of FORMAT_TYPES" [value]="type.value">
                  {{type.label}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isRequiredField(formControls['formatType'])">
                {{ validationMsg.FORMAT_TYPE_REQUIRED}}</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill" floatLabel="always">
              <label class="required-label" for="terms">Terms and Condition</label>
              <input formControlName="terms" matInput id="terms" placeholder="Enter terms and conditions" required>
              <mat-error *ngIf="isRequiredField(formControls['terms'])">
                {{ validationMsg.TERMS_AND_CONDITION_IS_REQUIRED}}</mat-error>
              <mat-hint>
                Terms and Conditions HASH - auto generated
              </mat-hint>
            </mat-form-field>
          </div>
        </li>
      </ul>

      <ul class="addService__content--buttons">
        <li><button type="submit" class="large-btn"
            [ngClass]="{'primary-btn' : addServiceForm.valid,'disabled-btn' : !addServiceForm.valid}" [disabled]="!addServiceForm.valid"  mat-raised-button>
            Save & Continue
            <mat-icon svgIcon="arrow-right"></mat-icon>
          </button>
        </li>
        <li>
          <button type="button" class="large-btn " mat-raised-button>
            Cancel
          </button>
        </li>
      </ul>
    </form>
  </div>
</section>
