<section class="viewDetails">
  <ul class="viewDetails__header">
    <li>
      <mat-icon></mat-icon>
      <h3>Service Catalog</h3>

    </li>

    <li>
      <a mat-button>
        License
      </a>
    </li>
  </ul>
  <div class="viewDetails__content">
    <ul class="row">
      <li class="col-md-3">
        <img src="../../../../assets/images/service-catalog-1.png" alt="">
      </li>
      <li class="col-md-9">
        <div class="viewDetails__data">

          <h6>
            Product Title
          </h6>

          <p>
            Product Carbon Footprint (PCF) of this product is calculated on the basis of biomass balance and contains
            PCF
            in raw material procurement, production, packaging and transportation.
          </p>

          <ul class="viewDetails__table">
            <li class="viewDetails__table--label">
              label
            </li>
            <li class="viewDetails__table--value">
              values
            </li>
          </ul>

        </div>
      </li>
    </ul>
  </div>

</section>
