@import "../../../../assets/scss/abstracts/abstracts.scss";

.certification-verify-dialog-container {
  max-height: calc(100vh - 12rem);
  overflow-y: auto;

  .certificate-verify {
    height: 100%;

    &__top {
      background-color: #f4f6f9;
      padding: 2rem 3rem 2rem 4rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include respond("phone") {
        padding: 2rem;
      }

      &--header {
        h2 {
          @include font(2.1rem, bold);
          line-height: 1.15;
          color: $black-color;

          @include respond("phone") {
            font-size: 1.9rem;
          }
        }

        h5 {
          font-size: 1.4rem;
          line-height: 1.75;
          color: $black-color;
          margin-top: 0.5rem;
        }
      }

      &--close-icon {
        position: relative;
        top: 0.5rem;

        a {
          .mat-icon {
            width: 2rem;
            color: $black-color;
          }
        }
      }
    }

    &__ownership {
      margin: 3rem 2.8rem 0;

      h5 {
        color: $primary-color;
        font-family: $font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.5rem;

        mat-icon {
          vertical-align: middle;
          width: 1.2rem;
        }
      }

      .form-control {
        position: relative;

        &--email {
          mat-icon {
            position: absolute;
            right: 7.5rem;
            top: -0.5rem;
          }
        }

        .mat-form-field {
          width: 100% !important;

          input {
            padding-right: 10rem;
          }
        }

        button {
          @include border-radius(0.6rem);
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &--verified,
      &--not-verified {
        p {
          font-family: $font-family;
          font-style: normal;
          word-break: break-word;
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }

      &--verified {
        span {
          color: $green-color-2;
        }
      }

      &--not-verified {
        span {
          color: $red-color-2;
        }
      }
    }

    &__body {
      padding: 0.8rem 1rem 0 1rem;

      &--progress-bar {
        margin: 0 2.8rem;
        border-bottom: 0.1rem solid #ccc;
        padding: 0.5rem 0 1.5rem 1rem;
        text-align: center;

        @include respond("phone") {
          margin: 0 1.5rem;
        }

        span {
          img {
            width: 5rem;
            vertical-align: middle;
            margin-right: 2.2rem;

            @include respond("phone") {
              width: 5rem;
            }
          }
        }

        label {
          font-size: 2.1rem;
          // font-style: italic;
          color: #9a9a9a;
          position: relative;
          top: 0.6rem;
          // left: -1.1rem;
        }

        &--verified {
          display: flex;
          flex-direction: row;
          justify-content: center;

          &--icon {
            margin-right: 1rem;

            .mat-icon {
              background-color: $primary-color;
              color: $white-color;
              border-radius: 10rem;
              padding: 1.5rem;

              @include square(5rem);
            }
          }

          &--label {
            margin-left: 1rem;

            label {
              font-size: 2.2rem;
              font-weight: 600;
              line-height: 1;
              text-align: left;
              color: $primary-color;
              display: block;
              padding-bottom: 0.7rem;
              text-transform: capitalize;
            }

            span {
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 2;
              text-align: left;
              color: #9a9a9a;
            }
          }
        }

        &--unVerified {
          display: flex;
          flex-direction: row;
          justify-content: center;

          &--icon {
            margin-right: 1rem;

            .mat-icon {
              background-color: $black-color-4;
              color: $white-color;
              border-radius: 10rem;
              padding: 1.5rem;

              @include square(5rem);
            }
          }

          &--label {
            margin-left: 1rem;

            label {
              font-size: 2.2rem;
              font-weight: 600;
              line-height: 1;
              text-align: left;
              color: $black-color-4;
              display: block;
              padding-bottom: 0.5rem;
              text-transform: capitalize;
            }

            span {
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 2;
              text-align: left;
              color: #9a9a9a;
            }
          }
        }
      }

      &--section {
        position: relative;

        &--results {
          ul {
            padding: 3rem 2rem 0 2.8rem;
            position: relative;

            @include respond("phone") {
              padding: 3rem 1.2rem 0 1.2rem;
            }

            li {
              position: relative;

              @include respond("phone") {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
              }

              label {
                background-color: $black-color-4;
                display: inline-block;
                vertical-align: sub;
                padding: 1rem 1rem 0.8rem 1rem;
                margin: 0 1.4rem 3rem 0;
                border-radius: 10rem;
                position: relative;

                img {
                  // visibility: hidden;
                  position: absolute;
                  background: #3f67fc;
                  display: none;
                }

                .mat-icon {
                  width: 1.8rem;
                  height: 1.8rem;
                  color: $white-color;

                  &:first-child {
                    // display: none;
                  }
                }
              }

              span {
                width: 32.5rem;
                display: inline-block;
                font-family: $font-family;
                font-size: 1.7rem;
                font-weight: 600;
                line-height: 1.27;
                text-align: left;
                color: #999999;
                vertical-align: middle;

                @include respond("phone") {
                  width: unset;
                  font-size: 1.5rem;
                  position: relative;
                  top: 0.9rem;
                }
              }

              // &::after {
              //   content: '';
              //   background: #b9c6d0;
              //   position: absolute;
              //   height: 4rem;
              //   width: 0.4rem;
              //   top: 4.7rem;
              //   left: 2.2rem;
              //   border-radius: 0.7rem;
              // }

              &:last-child {
                &::after {
                  content: unset;
                }
              }

              &:first-child {
                &::before {
                  display: none;
                }

                label {
                  margin: 20 1.4rem 0 0;
                }
              }

              &.active {
                label {
                  background-color: $primary-color;

                  .mat-icon {
                    &:first-child {
                      display: inline-block;
                    }
                  }

                  .mat-icon + .mat-icon {
                    display: none;
                  }

                  .mat-icon {
                    color: $white-color;
                  }
                }

                span {
                  color: $black-color;
                }

                &::after {
                  // background: $primary-color;
                  // animation: increase 1.5s linear 1s;
                  // animation-fill-mode: forwards;
                  //   content: '';
                  // background: #b9c6d0;
                  // position: absolute;
                  // height: 4rem;
                  // width: 0.4rem;
                  // top: 4.7rem;
                  // left: 2.2rem;
                  // border-radius: 0.7rem;
                }
              }

              &.inActive {
                label {
                  .mat-icon {
                    &:nth-child(2) {
                      display: none;
                    }
                  }

                  img {
                    background: $black-color-4;
                  }
                }
              }

              &.in-progress {
                &::before {
                  background: $primary-color;
                }
              }

              &.valid-certificate {
                span {
                  font-weight: bold;
                  position: relative;
                  top: -1.3rem;

                  @include respond("phone") {
                    top: 0.7rem;
                  }
                }

                label {
                  background-color: $white-color;
                  padding: 0;
                  position: relative;

                  img {
                    background: $primary-color;

                    @include square(4rem);
                    padding: 1.2rem 1.2rem;
                    border-radius: 10rem;
                  }

                  .mat-icon {
                    @include square(4rem);
                  }
                }
              }

              &.invalid-certificate {
                span {
                  color: $black-color-4;
                }

                label {
                  background-color: $black-color-4;

                  .mat-icon {
                    color: $white-color;
                  }

                  img {
                    background: $black-color-4;
                  }
                }
              }
            }
          }
        }

        .fill-section {
          position: relative;
          z-index: 9;
        }

        .gray-section {
          position: absolute;
          top: 0;

          ul {
            li {
              label {
                // background-color: #f4f6f9;

                .mat-icon {
                  color: #7a8d9b;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(1) translateX(0px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes increase {
  0% {
    height: 0;
    background: $primary-color;
  }

  100% {
    height: 56%;
    background: $primary-color;
  }
}

.completed {
  label {
    background-color: $primary-color !important;

    img {
      display: none !important;
    }

    .mat-icon {
      &:first-child {
        display: inline-block;
      }
    }

    .mat-icon + .mat-icon {
      display: none;
    }

    .mat-icon {
      color: $white-color;
    }
  }

  span {
    color: $black-color !important;
  }
}

.inProgress {
  label {
    background-color: $primary-color !important;
    color: $primary-color !important;

    img {
      display: block !important;
    }
  }
}
