<section>
  <div class="col-md-5 col-sm-5 PLR-0 position-fixed height-100">
    <div class="bg-main">
      <mat-icon svgIcon="logo" class="bg-main__logo"></mat-icon>
      <!-- <img class="bg-main__logo" src="../../../../assets/images/Logo.png" alt="Smart-X logo"> -->
      <h1>POC for Gaia-X</h1>
      <h1>compliant services</h1>
      <mat-icon svgIcon="bg-helper" class="bg-main__helper"></mat-icon>
      <!-- <img class="bg-main__helper" src="../../../../assets/images/bg-helper.png" alt="background image"> -->
    </div>
  </div>
  <div class="col-md-7 col-sm-7 PLR-0 float-right">
    <div class="userDetails">
      <ul class="userDetails__login">
        <li class="userDetails__login-heading">
          <h2>Welcome</h2>
          <span>Login with your PCM App</span>
        </li>

        <li>
          <ol>
            <li>Open PCM on your phone</li>
            <li>Click on scan menu</li>
            <li>Click on view for new proof request</li>
            <li>Click on share to login</li>
          </ol>
        </li>

        <li class="userDetails__qr-code">
          <div class="text-center">
            <img
              *ngIf="loginQrApiStatus !== APIStatus.Success"
              class="animated fast"
              src="../../../../assets/images/loading.gif"
              width="60"
              alt=""
            />

            <a
              *ngIf="
                loginQrApiStatus === APIStatus.Success &&
                pollCount < MAX_POLL_COUNT
              "
            >
              <qrcode
                [qrdata]="enterpriseQRLoginResponse.data.presentationMessage"
                [width]="256"
                [errorCorrectionLevel]="'M'"
              >
              </qrcode>
            </a>

            <button
              *ngIf="pollCount === MAX_POLL_COUNT"
              type="button"
              class="reload-btn"
            >
              <mat-icon svgIcon="reload"></mat-icon>
              <p>Click to reload QR code</p>
            </button>
          </div>
        </li>

        <li class="userDetails__appstore">
          <p>Download PCM Application from store</p>

          <a
            href="https://apps.apple.com/in/app/gxfs-pcm/id1662845551"
            target="_blank"
            ><mat-icon svgIcon="apple-app-store"></mat-icon
          ></a>
          <a
            href="https://play.google.com/store/apps/details?id=eu.gaiax.difs.pcm"
            target="_blank"
            ><mat-icon svgIcon="google-play-icon"></mat-icon
          ></a>
        </li>

        <li></li>
      </ul>
    </div>
  </div>
</section>
