@import "../../../../assets/scss/abstracts/abstracts.scss";

// .bg-main {
//   height: 100vh;
//   background-color: #1F5BE3;
//   position: relative;
//   padding: 14.3rem 0 0 7rem;
//   color: #FFFFFF;

//   h1 {
//     text-align: left;
//     font: normal normal bold 4.4rem/5.4rem $font-family;
//     white-space: nowrap;
//
//   }

//   &__logo {
//     position: absolute;
//     top: 4.1rem;
//     left: 7rem;
//     width: 14.7rem;
//     height: 4rem;
//   }

//   &__helper {
//     position: absolute;
//     top: 30rem;
//     left: 7rem;
//     width: 36.2rem;
//     height: 36.1rem;
//   }
// }

.userDetails {
  &__login {
    position: relative;
    padding: 12rem 0 0;
    text-align: left;
    width: 42rem;
    margin: auto;

    @include respond("regular-desktop") {
      padding: 5rem 0 0;
    }

    &-heading {
      margin-bottom: 4.7rem !important;
    }

    &-heading {
      h2 {
        @include font(3.4rem, 4.1rem, bold);
        color: $primary-dark;
        margin-bottom: 0.8rem;
      }

      span {
        @include font(1.5rem, 1.9rem, 500);
        opacity: 0.6;
      }
    }

    li {
      text-align: center;
      ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          color: $primary-dark;
          list-style: unset;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
      }
    }
    &-form {
      margin-top: 4rem;

      label,
      input {
        @include font(1.3rem, 1.6rem, 600);
        display: block;
        width: 100%;

        color: $primary-dark;
        // margin-bottom: 0.5rem;
      }

      .show-pass {
        @include font(1.5rem, 2.4rem, 500);
        background-color: transparent;

        color: $primary-dark;
        border: none;
        outline: none;
      }
    }
  }

  &__qr-code {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30rem;
    }

    button {
      @include square(18rem);
      @include border-radius(50%);
      border: 1px solid $primary-dark;
      background-color: rgba($primary-color, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1.4rem;
      font-weight: 500;

      mat-icon {
        margin-bottom: 1rem;
      }
    }
  }

  &__appstore {
    text-align: center;
    mat-icon {
      @include border-radius(0.5rem);
      border: 1px solid $primary-dark;
      width: 15rem;
      height: auto;
      margin-right: 1rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.4rem !important;
      margin-bottom: 1rem;
    }
  }
}
