@import "../../../../../assets/scss/abstracts/abstracts.scss";

.userDetails {

  &__signup-2 {
    position: relative;
    padding: 6.2rem 0 0;
    text-align: left;
    width: 42rem;
    margin: auto;

    p {
      color: $primary-dark;
      text-align: center;
      letter-spacing: 0px;
      font: normal normal normal 1.4rem/2.2rem $font-family;
    }

    &-heading {
      margin-bottom: 3rem;

      h2 {
        font: normal normal bold 3.4rem/4.1rem $font-family;
        color: $primary-dark;
        margin-bottom: 0.8rem;
      }

      span {
        font: normal normal 500 15px/19px $font-family;
        opacity: 0.6;
      }
    }

    &-form {
      margin-top: 4rem;
      margin-bottom: 4.2rem;

      label,
      input {
        display: block;
        width: 100%;
        font: normal normal 600 1.3rem/1.6rem $font-family;
        letter-spacing: 0px;
        color: $primary-dark;
      }

      .show-pass {
        font: normal normal 500 1.5rem/2.4rem $font-family;
        color: $primary-dark;

      }

      .verify-pass {
        fill: $white-color;
        font-size: 4px;
        padding: 4px;
        height: 16px;
        width: 16px;
        border-radius: 100%;
        margin-right: 5px;

        &__satisfied {
          background-color: $primary-blue;
          opacity: 1;
        }

        &__not-satisfied {
          background-color: $primary-dark;
          opacity: 0.2;
        }
      }
    }

    li {
      display: block;
      width: 100%;

      .back-btn {
        border: none;
        outline: none;
        background-color: transparent;
        position: absolute;
        top: 2.8rem;
        left: 44rem;
        white-space: nowrap;
        text-decoration: underline;
        text-underline-offset: 1px;


        font: normal normal 500 1.6rem/1.9rem $font-family;
        letter-spacing: 0px;
        color: $primary-dark;
        opacity: 1;
      }

      &.bottom-text {
        position: relative;
        top: 3rem;
        width: 42rem;
        margin-bottom: 0 !important;


        p {
          text-align: center;
        }
      }

      p {
        text-align: center;
        font: normal normal normal 1.6rem/2rem $font-family;
        letter-spacing: 0px;
        color: $primary-dark;

        a {
          text-align: center;
          text-decoration: underline;
          font: normal normal 500 1.6rem/2rem $font-family;
          letter-spacing: 0px;
          color: $primary-dark;
          text-underline-offset: 2px;
        }
      }
    }
  }
}

// .tooltip{
//   display: block;
//   visibility: visible !important;
//   position: absolute;
//   left: 50%;
//   transform: scale(1) !important;
//     opacity: 1 !important;
//   top:100px;
//   background-color: black;
// }
