<div class="cardBox">
  <article class="card" *ngFor="let service of serviceList">
    <div class="card__image">
      <img src="{{ image }}" alt="">
    </div>
    <div class="card__data">
      <h4 class="card__data--title" *ngIf="service?.name">{{ service.name }}</h4>
      <p class="card__data--disc">
        {{ service.description }}
      </p>
      <div *ngIf="showCompany" class="card__data--company">
        <span>Company:<b>{{service.enterpriseName}} </b></span>

      </div>
      <div class="card__data--btn">
        <a>
          <button mat-raised-button (click)="redirectToDetailView(service)">View Details</button>
        </a>
        <a *ngIf="!showCompany">
          <button mat-mini-fab>
            <mat-icon>mode_edit</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </article>
</div>