@import "../../../../assets/scss/abstracts/abstracts.scss";

.cardBox {
  // height: 100%;
  // align-self: stretch;
  display: flex;
  // grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  // grid-auto-rows: 1fr;
  // gap: 5rem;
  // overflow: hidden auto;
  padding-right: 5rem;
  // width: 100%;

  @include respond("regular-desktop") {
    padding-right: 2rem;
  }

  .show-company {
    opacity: 0;
  }

  .card {
    padding: 0 5rem 0 0;

    @include respond("regular-desktop") {
      padding: 0 3rem 0 0;
    }
  }
}
