<div class="cardBox">
  <article class="card" *ngFor="let product of productList">
    <div class="card__image">
      <img src="{{ product.image }}" alt="">
    </div>
    <div class="card__data">
      <h4 class="card__data--title" *ngIf="product?.title">{{ product.title }}</h4>
      <p class="card__data--disc">
        {{ product.discription }}
      </p>
      <div *ngIf="showCompany" class="card__data--company">
        <span>Company:<b>{{product.company}} </b></span>

      </div>
      <div class="card__data--btn">
        <a>
          <button mat-raised-button>View Details</button>
        </a>
        <a *ngIf="!showCompany">
          <button mat-mini-fab>
            <mat-icon>mode_edit</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </article>
</div>
