<div class="cardBox row">
  <article class="card col-md-4" *ngFor="let service of serviceList">
    <div class="card__image">
      <img src="{{ image }}" alt="" />
    </div>
    <div class="card__data">
      <h4 class="card__data--title" *ngIf="service?.label">
        {{ service.label }}
      </h4>
      <p class="card__data--disc">
        {{ service.description }}
      </p>
      <div
        [ngClass]="{ 'show-company': !showCompany }"
        class="card__data--company"
      >
        <span
          >Provider:<b>{{ service.enterpriseName }} </b></span
        >
      </div>
      <div class="card__data--btn">
        <a (click)="onViewDetailsClick(service)">
          <button mat-raised-button>View Details</button>
        </a>
        <a [href]="service.offerLink" target="_blank">
          <button mat-mini-fab>
            <mat-icon>insert_link</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </article>
</div>
