<div class="catalog-details-container">
  <div class="catalog-details-container__head">
    <div>
      <a (click)="onBack()" matTooltip="Back">
        <mat-icon svgIcon="backArrow"></mat-icon>
      </a>
      <h3>Catalog-details</h3>
    </div>
    <div *ngIf="service" class="flex-center-right">
      <a [href]="service.terms" target="_blank">Terms</a>
      <!-- <a [href]="service.terms" target="_blank">Policy</a> -->
      <a matTooltip="Click to Download full report" class="download-btn">
        <mat-icon svgIcon="download"></mat-icon>
      </a>
    </div>
  </div>
  <div *ngIf="service" class="catalog-details-container__body">
    <div>
      <img src="./assets/images/catalogPlaceholder.png" alt="" />
    </div>
    <div class="catalog-details-container__right-content">
      <h5>{{ service.label }}</h5>
      <span class="company-name">{{ service.enterpriseName }}</span>
      <p>
        {{ service.description }}
      </p>

      <div class="catalog-details-container__accordian">
        <mat-accordion [multi]="true">
          <mat-expansion-panel
            *ngFor="let item of service.meta | keyvalue"
            ;
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header
              [collapsedHeight]="'5rem'"
              [expandedHeight]="'5rem'"
            >
              <mat-panel-title>{{ item.key }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expansion-body">
              <div class="row">
                <div
                  *ngFor="let childItem of item.value | keyvalue"
                  class="col-md-4"
                >
                  <label>{{ childItem.key }}</label>
                  <!-- DEVELOPER :: BELOW LINE FOR COMMON DATA -->

                  <!-- <span>{{ childItem.value }}</span> -->

                  <!-- DEVELOPER :: BELOW LINE FOR URL DATA -->
                  <a matTooltip="{{ childItem.value }}"
                    ><span>{{ childItem.value }}</span></a
                  >
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
